<!DOCTYPE html>
<html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Solumada Academy | Teacher - Home</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="../assets/basetemplate/images/logo.jpg" />
    <link rel="shortcut icon" href="../assets/basetemplate/images/logo.jpg" />

    <link
      rel="stylesheet"
      href="../assets/basetemplate/vendors/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/basetemplate/vendors/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/basetemplate/vendors/themify-icons/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      href="../assets/basetemplate/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link rel="stylesheet" href="../assets/basetemplate/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/selectFX/css/cs-skin-elastic.css"/>
    <link
      rel="stylesheet"
      href="../assets/basetemplate/vendors/jqvmap/dist/jqvmap.min.css"
    />

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="../assets/basetemplate/assets/css/style.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/chosen/chosen.min.css">

    <link rel="stylesheet" href="../assets/basetemplate/assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
      <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-menu"
            aria-controls="main-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="./"
            ><img src="../assets/basetemplate/images/logo.jpg" alt="Logo"
          /></a>
          <a class="navbar-brand hidden" href="./"
            ><img src="../assets/basetemplate/images/logo2.png" alt="Logo"
          /></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <h3 class="menu-title text-center">MENU</h3>
            <!-- /.menu-title -->
            <li>
              <a href="/teacherHome">
                <i class="menu-icon fa fa-home"></i>Home
              </a>
            </li>
            <li class="menu-item-has-children active dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="menu-icon fa fa-book"></i>My Cours</a
              >
              <ul class="sub-menu children dropdown-menu">
                <% listcours.forEach(listcours=> { %>
                    <li class="dropdown menu-item-has-children">
                        <i class="fa fa-bookmark"></i>
                        <a href="/teacherCours/<%= listcours.name_Cours %>" onclick="getdataGP('/getdataGP','<%= listcours.name_Cours %>')" id="obg-item">
                            <%= listcours.name_Cours %>
                        </a>
                    </li>
                <%}); %>
            </ul>
            </li>
            <li>
              <a href="/teacherGlobalView">
                <i class="menu-icon fa fa-eye"></i>Global view
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </aside>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../assets/basetemplate/images/admin.jpg"
                                alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="/resetPWD"><i class="fa fa-user"></i> reset password</a>

                            <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Cours</a></li>
                            <li class="active">Obligatory</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-end">
                                    <strong class="card-title my-auto">Cours Name</strong>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                        href="#home" role="tab" aria-controls="home"
                                                        aria-selected="true">Group</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                        href="#profile" role="tab" aria-controls="profile"
                                                        aria-selected="false">Time Table</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Parcours</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pl-3 p-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="col-md-12 mt-2">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <button class="btn btn-dark btn-sm rounded" type="button"
                                                            data-toggle="modal" data-target="#groupModal"><small><i
                                                                    class="fa fa-plus"></i> create group</small></button>
                                                        <div class="text-center my-auto">
                                                            <h6>Teacher: Rojovola</h6>
                                                        </div>
                                                        <strong class="card-title my-auto">Group</strong>
                                                    </div>
                                                </div>
                                                <div class="card-body">

                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-sm-12 col-lg-4 align-items-start">
                                                            <div class="groupselect">
                                                                <form>
                                                                    <div
                                                                        class="row form-group align-items-center justify-content-start">
                                                                        <div class="col col-4">
                                                                            <label class=" form-label"
                                                                                for="select-group">Group Name </label>
                                                                        </div>
                                                                        <div class="col col-8">
                                                                            <div class="d-flex d-inline-flex">
                                                                                    <select
                                                                                        class="form-control"
                                                                                        name="select-group"
                                                                                        id="teacherSelectGroup">
                                                                                        <option value="" disabled selected>Choose Group</option>
                                                                                        <% listgroupe.forEach(function(listgroupe)
                                                                                            { %>
                                                                                            <option
                                                                                                value="<%= listgroupe.name_Groupe %>">
                                                                                                <%= listgroupe.name_Groupe
                                                                                                    %>
                                                                                            </option>
                                                                                        <% }); %>
                                                                                    </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 my-auto">
                                                            <button class="btn btn-sm btn-dark rounded" type="button" id="addMememberToGroupTeacher" style="display: none;"
                                                                data-toggle="modal" data-target="#addMemeber">
                                                                <small>
                                                                    <i class="fa fa-plus"></i> Add member
                                                                </small>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="table-container">
                                                        <table id="GroupTeacherDatatable" name="table"
                                                            class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Username</th>
                                                                    <th>M Code</th>
                                                                    <th>Numbering</th>
                                                                    <th>Level</th>
                                                                    <th class="text-center">Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr >
                                                                    <td colspan="6" class="text-center" style="background-color:antiquewhite">No Data to display, please select group</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="col-md-12 mt-2">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <button class="btn btn-dark btn-sm rounded" type="button"
                                                            data-toggle="modal" data-target="#tameTableModal"><small><i
                                                                    class="fa fa-plus"></i> time Table</small></button>
                                                        <h4 class="my-auto"></h4>
                                                        <strong class="card-title my-auto">Time Table</strong>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <table id="teachertimeTable" class="table table-striped table-bordered"
                                                        style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <th >ID</th>
                                                                <th>Day</th>
                                                                <th>Group</th>
                                                                <th>Starting Time</th>
                                                                <th>Ending Time</th>
                                                                <th class="text-center">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        <div class="col-md-12 mt-2">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <button class="btn btn-dark btn-sm rounded" id="addParcours" type="button"
                                                            data-toggle="modal" data-target="#parcoursModal"><small><i
                                                                    class="fa fa-plus"></i> parcours</small></button>
                                                        <strong class="card-title my-auto">Parcours</strong>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <table id="parcoursDatatable" class="table table-striped table-bordered" style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Starting Time</th>
                                                                <th>Ending Time</th>
                                                                <th>Group</th>
                                                                <th>Present</th>
                                                                <th>Absent</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editmember" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Update Member</h5>
                        </div>
                        <div id="notif" class="col-sm-6 notification">

                        </div>
                        <div class="modal-body">
                            <form id="updateUserLevel" method="post">
                                <div class="row mt-2 mb-3">
                                    <div class="col">
                                        <div class="">
                                            <div class="text-center">Change UserName level</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="name" class="form-control-label">Level</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="userLevel" placeholder="New level" class="form-control">
                                        <small id="" style="color: red; font-size: smaller; display: none;"></small>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" 
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" onclick="updateMembre()">Save Change</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">New Group</h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="form" enctype="multipart/form-data" class="form-horizontal"
                                    autocomplete="off">
                                    <div class="row form-group">

                                        <div class="col col-md-3"><label for="newgroupName"
                                                class="form-control-label">Group Name</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="newgroupName" placeholder="Group Name"
                                                class="form-control">
                                            <small id="eg" style="color: red; font-size: smaller; display:none;">This
                                                field is required</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancel</button>
                                        <button class="btn-submit btn btn-success" type="button" id="saveNewGroup">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">New Group</h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="form" action="/addemp" method="post" enctype="multipart/form-data"
                                    class="form-horizontal" autocomplete="off">

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="type_cour"
                                                class="form-control-label">Member</label></div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose Cours" multiple
                                                class="form-control standardSelect" tabindex="1">
                                                <option value=""></option>
                                                <% listUser.forEach(function(listUser) { %>
                                                    <option value="<%= listUser.name_Cours %>">
                                                        <%= listUser.username %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" 
                                data-dismiss="modal">Cancel</button>
                            <!-- <button class="btn-submit btn btn-success" type="button" id="btns" onclick="add_new_employee()">Save</button> -->
                            <button class="btn-submit btn btn-success" type="button" onclick="add_membre()"
                                id="saveUser">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="tameTableModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">New Time Table<Table></Table>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="formAddTimeTable" action="/" enctype="multipart/form-data" class="form-horizontal"
                                    autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col-12">
                                            <div class="feedback align-items-center">
                                                <small class="alert alert-danger text-center" role="alert" id="errorT"
                                                    style="display: none;color:red"></small>
                                                <small class="alert alert-success text-center" role="alert"
                                                    id="successT" style="display: none;color:green"></small>
                                            </div>
                                        </div>
                                        <div class="col col-md-3"><label for="weekday"
                                                class="form-control-label">Date</label></div>
                                        <div class="col-12 col-md-9">
                                            <select  class="form-control" id="select-jour"  tabindex="1">
                                                <option value="" disabled selected>Choose Day</option>
                                                <option value="lundi">lundi</option>
                                                <option value="mardi">mardi</option>
                                                <option value="mercredi">mercredi</option>
                                                <option value="jeudi">jeudi</option>
                                                <option value="vendredi">vendredi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group_name"
                                                class="form-control-label">Group Name</label></div>
                                        <div class="col-12 col-md-9">
                                            <select id="select-gpe" class="form-control">
                                                <option value="" disabled selected>Choose Group</option>
                                                <% listgroupe.forEach(function(listgroupe) { %>
                                                    <option value="<%= listgroupe.name_Groupe %>">
                                                        <%= listgroupe.name_Groupe %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName"
                                                class="form-control-label">Start At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeStart" class="form-control">
                                            <small id="startTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName" class="form-control-label">End
                                                At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeEnd" class="form-control">
                                            <small id="endTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="closetimeTableModal"
                                data-dismiss="modal">Cancel</button>
                            <button class="btn-submit btn btn-success" type="button"
                                id="saveTimeTable">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update time table -->
            <div class="modal fade" id="UpdatetimeTableModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">Update Time Table<Table></Table>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="formUpdateTimeTable" enctype="multipart/form-data" class="form-horizontal"
                                    autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="timeStart-update" style="display: none;"
                                                class="form-control-label">Id</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="hidden" id="id-timetable-update" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="weekday"
                                                class="form-control-label">Date</label></div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose day" class="form-control" id="select-jour-update" tabindex="1">
                                                <option value="lundi">lundi</option>
                                                <option value="mardi">mardi</option>
                                                <option value="mercredi">mercredi</option>
                                                <option value="jeudi">jeudi</option>
                                                <option value="vendredi">vendredi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group_name"
                                                class="form-control-label">Group Name</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose Group" id="timetablegroupupdate"
                                                class="form-control">
                                                <% listgroupe.forEach(function(listgroupe) { %>
                                                    <option value="<%= listgroupe.name_Groupe %>">
                                                        <%= listgroupe.name_Groupe %>
                                                    </option>
                                                <% }); %>
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="timeStart-update"
                                                class="form-control-label">Start At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeStart-update" class="form-control">
                                            <small id="startTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="timeEnd-update" class="form-control-label">End
                                                At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeEnd-update" class="form-control">
                                            <small id="endTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="closetimeUpdateTableModal"
                                data-dismiss="modal">Cancel</button>
                            <button class="btn-submit btn btn-success" type="button"
                                id="saveTeacherUpdateTimeTable">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Update Time table -->

            <div class="modal fade" id="parcoursModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">New Parcours<Table></Table>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="formAddPacours" enctype="multipart/form-data"
                                    class="form-horizontal" autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col-12">
                                            <div class="feedback align-items-center">
                                                <small class="alert alert-danger text-center" role="alert"
                                                    id="errorparc" style="display: none;color:red"></small>
                                                <small class="alert alert-success text-center" role="alert"
                                                    id="successparc" style="display: none;color:green"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="week">Date </label>
                                        </div>
                                        <div class="col col-md-9">
                                            <input id="dateParcours" type="date" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName"
                                                class="form-control-label">Start At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeStartParcours" class="form-control" required>
                                            <small id="startTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName" class="form-control-label">End
                                                At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeEndParcours" class="form-control">
                                            <small id="endTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group_name"
                                                class="form-control-label">Group Name</label></div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose Group" id="groupParcours" class="form-control" required>
                                                <option value="">Choose groupe</option>
                                                <% listgroupe.forEach(function(listgroupe) { %>
                                                    <option value="<%= listgroupe.name_Groupe %>">
                                                        <%= listgroupe.name_Groupe %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="present"
                                                class=" form-control-label">Present</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="presentMemeber" id="presentParcours" data-placeholder="Add present" class="form-control" multiple required></select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="cancelAddParcours" data-dismiss="modal">Cancel</button>
                            <button class="btn-submit btn btn-success" type="button"
                                id="saveParcours">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="UpdateparcoursModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">Update Parcours<Table></Table>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form id="formUpdatePacours" enctype="multipart/form-data"
                                    class="form-horizontal" autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col-12">
                                            <div class="feedback align-items-center">
                                                <small class="alert alert-danger text-center" role="alert"
                                                    id="errorparc" style="display: none;color:red"></small>
                                                <small class="alert alert-success text-center" role="alert"
                                                    id="successparc" style="display: none;color:green"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group_name"
                                                class="form-control-label">Group Name</label></div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose Group" id="groupUpdateParcours" class="form-control">
                                                <option value="">Choose groupe</option>
                                                <% listgroupe.forEach(function(listgroupe) { %>
                                                    <option value="<%= listgroupe.name_Groupe %>">
                                                        <%= listgroupe.name_Groupe %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="week">Date </label>
                                        </div>
                                        <div class="col col-md-9">
                                            <input id="dateUpdateParcours" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName"
                                                class="form-control-label">Start At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeStartUpdateParcours" class="form-control">
                                            <small id="startTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="groupName" class="form-control-label">End
                                                At</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="time" id="timeEndUpdateParcours" class="form-control">
                                            <small id="endTime_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="present"
                                                class=" form-control-label">Present</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="presentMemeber" id="presentParcoursUpdate" data-placeholder="Add present" class="form-control" multiple></select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="cancelUpdateParcours" data-dismiss="modal">Cancel</button>
                            <button class="btn-submit btn btn-success" type="button"
                                id="saveUpdateParcours">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addMemeber" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title teacherAddMemberLabel" id="largeModalLabel"><Table></Table>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">

                                <form id="formAddMember" action="" method="post" enctype="multipart/form-data"
                                    class="form-horizontal" autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col-12">
                                            <div class="feedbaa alert alert-danger text-center" role="alert" id="error"
                                                style="display: none;color:red"></small>
                                                <small class="alert alert-success text-center" role="alert" id="success"
                                                    style="display: none;color:green"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group_name" class="form-control-label">New
                                                Members</label></div>
                                        <div class="col-12 col-md-9">
                                            <select data-placeholder="Choose Group" id="listUserToAddMember" name="listUserC"
                                                multiple class="form-control memberSelect" tabindex="1">
                                                <option value=""></option>
                                                
                                            </select>
                                            <small id="cour_err"
                                                style="color: red; font-size: smaller; display:none;">This field is
                                                required</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger closeAddMember"
                                data-dismiss="modal">Cancel</button>
                            <button class="btn-submit btn btn-success" type="button"
                                id="saveNewMemberList">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Right Panel -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="../assets/basetemplate/assets/js/main.js"></script>

    <!-- <script src="../assets/js/list-groupe.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../assets/basetemplate/vendors/chosen/chosen.jquery.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="../assets/basetemplate/assets/js/init-scripts/data-table/datatables-init.js"></script> -->
    <script src="../assets/basetemplate/assets/js/teacher/coursTeacher.js"></script>
    <script src="../assets/basetemplate/assets/js/teacher/teachertimeTable.js"></script>
    <script src="../assets/basetemplate/assets/js/teacher/teacherGroup.js"></script>


    <script>
        jQuery(document).ready(function () {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });
        });


        jQuery(document).ready(function () {
                    jQuery(".prensentSelect").chosen({
                        disable_search_threshold: 10,
                        no_results_text: "Oops, nothing found!",
                        width: "100%"
                    });
                });
        jQuery(document).ready(function () {
                    jQuery(".prensentSelectUpd").chosen({
                        disable_search_threshold: 10,
                        no_results_text: "Oops, nothing found!",
                        width: "100%"
                    });
                });
    </script>

  </body>
</html>
