* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 350px;
    max-width: 350px;
    height: 100vh;
    position: fixed;
    /* background-color: red; */
    transition: all 0.5s ease;
}

.menu.active {
    width: 90px;
    z-index: 0.5;
}

.menu .logo-container {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu .menu-container {
    margin: 0;
    margin-top: 15px;
    width: 100%;
    background: #abc447;
    border-radius: 8px;
    padding-bottom: 10px;
}

.menu-container .menu-title {
    height: 50px;
    width: 90%;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.menu-container .menu-title #menu-ico {
    font-size: 35px;
    min-width: 60px;
    align-items: flex-start;
    font-weight: 600;
    /* background-color: black; */
    text-align: center;
    cursor: pointer;
}

.menu-container .menu-title #menu-txt {
    font-size: 30px;
    text-align: center;
    min-width: 60px;
    /* background-color: lime; */
    margin-left: 40px;
}


.menu-container .menu-items {
    margin-top: 10px;
    width: 90%;

}

.menu-container .menu-items ul {
    list-style: none;
    align-self: center;
    margin: 0;
    padding: 0;
}

.menu-container .menu-items li {
    list-style: none;
    height: 50px;
    margin-bottom: 5px;
}

.menu-container .menu-items li .menu-item {
    /* background: rgb(151, 168, 0); */
    width: 100%;
    align-items: center;
    border-radius: 5px;
    /* justify-content: center; */
    padding-top: 4px;
}

.menu-container .menu-items li .menu-item:hover {
    background: #c4de5b;
    /* box-shadow: 0px 1px 2px 1px #82943a; */
}

.menu-container .menu-items li .active {
    background: #c4de5b;
    box-shadow: 0px 1px 2px 1px #82943a;
    border-radius: 5px;
    padding-top: 5px;
}

.menu-container .menu-items li a {
    text-decoration: none;
}


.menu-item .menu-item-ico {
    font-size: 30px;
    min-width: 60px;
    font-weight: 600;
    text-align: center;
    color: black;
    align-items: center;
}

.menu-item .menu-item-txt {
    font-size: 25px;
    text-align: center;
    min-width: 60px;
    /* background-color: red; */
    margin-left: 40px;
    color: black;
    font-weight: 500;
    transition: all 0.4s ease;
}

.menu.active~.menu-item .menu-item-txt {
    overflow: hidden;
    display: none;
}

.content {
    background: linear-gradient(#c4de5b, #abc447, #82943a, #687532);
    width: calc(100% - 350px);
    height: 100vh;
    margin-left: 350px;
    transition: all 0.5s ease;
}

.menu.active~.content {
    width: calc(100% - 90px);
    margin-left: 90px;
    z-index: 3;
}

.content .header {
    height: 60px;
    /* width: 100%; */
    /* background: black; */
    justify-content: center;
    overflow-x: hidden;
}

.content .header .user-info {
    height: 100%;
    /* background: yellow; */
    text-align: center;
}

.content .header .user-info span {
    font-size: 18px;
    font-weight: bold;
}

.content .header .user-info span i {
    font-size: 18px;
    text-align: center;
    background: red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}


.content .main-content {
    /* background: black; */
    height: calc(100vh - 60px);
    overflow-x: hidden;
}


.content .main-content .wlcm-txt {
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    color: #c4de5b;
}

.content .main-content .cart
{
    background: transparent;
}

.content .main-content .action
{
    height: 60px;
    /* background: red; */
}

.content .main-content .action .btn-add
{
    color: #fff;
}
