*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu
{
    width: 350px;
    max-width: 350px;
    height: 100vh;
    position: fixed;
    /* background-color: red; */
    transition: all 0.5s ease;
}

.menu.active
{
    width: 90px;
    z-index: 0.5;
}

.menu .logo-container
{
    margin-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu .menu-container
{
    margin: 0;
    margin-top: 15px;
    width: 100%;
    /* background: #abc447; */
    background: #92d13f;
    border-radius: 8px;
    padding-bottom: 10px;
}

.menu-container .menu-title
{
    height: 50px;
    width: 90%;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.menu-container .menu-title #menu-ico
{
    font-size: 35px;
    min-width: 60px;
    align-items: flex-start;
    font-weight: 600;
    /* background-color: black; */
    text-align: center;
    cursor: pointer;
}

.menu-container .menu-title #menu-txt
{
    font-size: 30px;
    text-align: center;
    min-width: 60px;
    /* background-color: lime; */
    margin-left: 40px;
}


.menu-container .menu-items
{
    margin-top: 10px;
    width: 90%;
    
}

.menu-container .menu-items ul
{
    list-style: none;
    align-self: center;
    margin: 0;
    padding: 0;
}

.menu-container .menu-items li
{
    list-style: none;
    height: 50px;
    margin-bottom: 5px;
}

.menu-container .menu-items li .menu-item
{
    width: 100%;
    align-items: center;
    border-radius: 5px;
    padding-top: 4px;
}

.menu-container .menu-items li .menu-item:hover
{
    background: linear-gradient(#d2f73e, #7b9904);
}

.menu-container .menu-items li .active {
    background: linear-gradient(#d2f73e, #7b9904);
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-shadow: 0px 1px 2px 1px #7a7c72;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.menu-container .menu-items li a
{
    text-decoration: none;
}


.menu-item .menu-item-ico
{
    font-size: 30px;
    min-width: 60px;
    font-weight: 600;
    text-align: center;
    color: black;
    align-items: center;
}

.menu-item .menu-item-txt
{
    font-size: 25px;
    text-align: center;
    min-width: 60px;
    /* background-color: red; */
    margin-left: 40px;
    color: black;
    font-weight: 500;
    transition: all 0.4s ease;
}

.menu.active ~ .menu-item .menu-item-txt 
{
    overflow: hidden;
    display: none;
}

.content
{
    /* background: linear-gradient(#c4de5b, #abc447, #82943a, #687532); */
    background: linear-gradient(#aae65c, #98ad44);

    width: calc(100% - 350px);
    height: 100vh;
    margin-left: 350px;
    transition: all 0.5s ease;
}

.menu.active ~ .content {
    width: calc(100% - 90px);
    margin-left: 90px;
    z-index: 3;
}

.content .header {
    height: 60px;
    /* width: 100%; */
    /* background: black; */
    justify-content: center;
    overflow-x: hidden;
}

.content .header .user-info
{
    height: 100%;
    /* background: yellow; */
    width: 200px;
    text-align: center;
}

.content .header .user-info span 
{
    font-size: 18px;
    font-weight: bold;
}

.content .header .user-info span i 
{
    font-size: 18px;
    text-align: center;
    background: red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}


.content .main-content
{
    /* background: black; */
    height: calc(100vh - 60px);
    overflow-x: hidden;
}


.content .main-content .wlcm-txt
{
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    color: #d2f73e;
}


@media(max-width:960px)
{
    /* Menu */
    .menu
    {
        width: 250px;
    }
    .menu .menu-title
    {
        height: 40px;
    }

    .menu-container .menu-title #menu-ico {
        font-size: 30px;
        min-width: 60px;
        font-weight: 400;
    }
    
    .menu-container .menu-title #menu-txt {
        font-size: 20px;
        min-width: 60px;
        margin-left: 30px;
    }

    .menu-item .menu-item-ico {
        font-size: 25px;
        min-width: 60px;
        font-weight: 500;
    }
    
    .menu-item .menu-item-txt {
        font-size: 20px;
        min-width: 60px;
        margin-left: 30px;
        font-weight: 500;
    }

    /* End menu */
    .content
    {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    .table-rsp .thead-light
    {
        font-size: 14px;
        font-weight: 500;
    }
    .table-rsp tbody
    {
        font-size: 14px;
    }
}

@media(max-width:600px)
{
    .menu
    {
        width: 220px;
    }
    .menu-container .menu-items li {
        list-style: none;
        height: 40px;
        margin-bottom: 5px;
    }

    .menu-container .menu-title #menu-ico {
        font-size: 30px;
        min-width: 60px;
        font-weight: 400;
    }
    
    .menu-container .menu-title #menu-txt {
        font-size: 20px;
        min-width: 60px;
        margin-left: 30px;
    }

    .menu-item .menu-item-ico {
        font-size: 20px;
        min-width: 60px;
        font-weight: 500;
    }
    
    .menu-item .menu-item-txt {
        font-size: 16px;
        min-width: 60px;
        margin-left: 30px;
        font-weight: 500;
    }

    /* End menu */

    .content
    {
        width: calc(100% - 220px);
        margin-left: 220px;
    }
    .content .header .user-info span {
        font-size: 14px;
        font-weight: bold;
    }
    .content .main-content .action
    {
        height: 50px;
    }
    .content .main-content .action .btn-add-user
    {
        font-size: .7em;
    }
    .content .main-content .action .breadcrumb-item li
    {
        font-size: 12px;
    }
    .content .main-content .wlcm-txt
    {
        font-size: 30px;
    }

}


@media (max-width:280px) 
{
    .menu
    {
        width: 220px;
    }
    .menu-container .menu-items li {
        list-style: none;
        height: 40px;
        margin-bottom: 5px;
    }

    .menu-container .menu-title #menu-ico {
        font-size: 30px;
        min-width: 60px;
        font-weight: 400;
    }
    
    .menu-container .menu-title #menu-txt {
        font-size: 20px;
        min-width: 60px;
        margin-left: 30px;
    }

    .menu-item .menu-item-ico {
        font-size: 20px;
        min-width: 60px;
        font-weight: 500;
    }
    
    .menu-item .menu-item-txt {
        font-size: 16px;
        min-width: 60px;
        margin-left: 30px;
        font-weight: 500;
    }

    /* End menu */

    .content
    {
        width: calc(100% - 220px);
        margin-left: 220px;
    }
    .content .header .user-info span {
        font-size: 14px;
        font-weight: bold;
    }
    .content .main-content .action
    {
        height: 50px;
    }
    .content .main-content .action .btn-add-user
    {
        font-size: .7em;
    }
    .content .main-content .action .breadcrumb-item li
    {
        font-size: 12px;
    }
    .content .main-content .wlcm-txt
    {
        font-size: 30px;
    }
}
