/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: transparent;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

hr{
  padding-bottom: 0;
  margin-bottom: 0;
}


/*=============== MODAL ===============*/
.container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal{
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal__button{
  display: inline-flex;
  background-color: var(--first-color);
  color: #FFF;
  padding: .5rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.modal__button:hover{
  background-color: var(--first-color-alt);
}

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content{
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 1rem;
  transition: all .3s;
  background-color: rgb(252, 247, 247);
}

.modal__close{
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: .25rem;
  /* color: #FFF; */
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
}

.modal__title{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.message
{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    color: red;
    font-size: 18px;
    font-weight: 400;
}

.error
{
  width: 100%;
  height: 100%;
  text-align: center;
  /* display: none; */
}


.modal__button-width{
  width: 90%;
}


/* Show modal */
.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  /*=== Effect 1 ===*/
  align-self: center;

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}


/* style for form */

.form {
  /* background-color: #15172b; */
  /* border-radius: 20px; */
  box-sizing: border-box;
  height: auto;
  padding: 10px 20px;
  width: 100%;
}


.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  /* background-color: #ffffff; */
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  background: #ffffff;
}

.placeholder {  
  /* color: #65657b; */
  color: #FFF;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
  background: transparent;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  /* color: #808097; */
  color: black;
}

.input:focus ~ .placeholder {
  color: #0e090a;
  background: white;
}


/* radio */
.select_container
{
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: red; */
}

.for-checkbox-tools{
  cursor: pointer;
}

.checkbox-tools{
  cursor: pointer;
}
/* end radio */


.action_form
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 20px;
  align-items: center;
}

.action_form button
{
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    height: 100%;
    padding: 10px;
    width: 120px;
}

.action_form .btn_success
{
    background-color: green;
}

.action_form .btn_danger
{
    background-color: red;
}


/* end style for form */



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    /* width: 380px; */
    width: 550px;
    height: 500px;
    border-radius: 1.25rem;
  }
}

@media(max-width:455px)
{
    .input-container{
      height: 40px;
    }
    .input {
      font-size: 16px;
      padding: 4px 10px 0;
    }

    .placeholder {  
      /* color: #65657b; */
      line-height: 12px;
      transform-origin: 0 50%;
      top:15px;
    }

    .select_container
    {
        height: 40px;
    }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-24px) translateX(10px) scale(0.75);
    }

    .action_form
    {
      height: 40px;
      margin-top: 20px;
    }

    .action_form button
    {
        font-size: 12px;
        padding: 4px;
        width: 80px;
    }

    .select_container
    {
        height: 35px;
    }

    .for-checkbox-tools{
      font-size: 12px;
    }

    .message
    {
      margin-top: 0px;
        font-size: 12px;
    }

    .modal__title{
      font-size: 25px;
      margin-bottom: 5px;
    }

    .modal__content{
      padding: 1rem 1rem 1rem 1rem;
    }

    .form {
      padding: 5px 10px;
    }
    
}