<% listuser.forEach(function(listuser) { %>
    <tr>
        <td><%= listuser.username %></td>
        <td><%= listuser.m_code %></td>
        <td><%= listuser.num_agent %></td>
        <td><%= listuser.type_util %></td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button"  class="btn px-2 btn-sm btn-warning" type="button" id="first" onclick="getuser(id='<%=listuser.id%>')" 
                    class="btn btn-sm btn-warning" data-toggle="modal" data-target="#updateModalForm" 
                    data-bs-whatever="@getbootstrap"><i class="fa fa-edit"></i></button>
                <!-- <button type="button" class="btn px-2 btn-sm btn-danger rounded-end deleteUser" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#deleteUserConfirm"><i class="fa fa-trash"></i></button> -->
                <button type="button"  class="btn px-2 btn-sm btn-danger" type="button" id="delete" 
                    class="btn btn-sm btn-warning"  onclick="getuserAndDelete(id='<%=listuser.id%>')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </td>
    </tr>
<% }); %>