<% membre.forEach(function(membre) { %>
    <tr>
        <td>
            <%= membre._id.username %>
        </td>
        <td>
            <%= membre._id.m_code %>
        </td>
        <td>
            <%= membre._id.num_agent %>
        </td>
        <td>
            <div class="input-group">
                <select class="form-control selectNiveau">
                    <% membre.tabl.forEach(function(tabl) { %>
                        <option class="text-center" value="1"><%= tabl.cours %> - <%= tabl.niveau %></option>
                    <% }); %>     
            </select>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="hidden" id="custId" name="custId" value="<%= membre._id.point %>">
                <select class="form-control" id="selectPoints">
                    <%  if (membre._id.point) {%>
                        <option class="text-center" value=""><%= membre._id.point %></option>
                        
                        <%}%>
                    <% point.forEach(function(point) { %>
                        <option class="text-center" value="<%= point.point %>"><%= point.point %></option>
                    <% });
                    var table = membre.tabl %>    
                </select>
            <button class="btn btn-sm btn-secondary" data-toggle="modal" onclick="getPoint('/updatePoint','<%= JSON.stringify(table) %>')" 
                >
                <i class="fa fa-plus"></i>
            </button>
            
            </div>
        </td>
        <td>
            <div class="input-group">
                <select class="form-control " id="selectGrad">
                    <%  if (membre._id.graduation) {%>
                        <option class="text-center" value=""><%= membre._id.graduation %></option>
                        
                        <%}%>
                    <% grad.forEach(function(grad) {
                        %>
                        <option class="text-center" value="<%= grad.graduation %>"> <%= grad.graduation %></option>
                    <% });
                    var donne = membre.tabl%>   
                </select>
                <button class="btn btn-sm btn-secondary" data-toggle="modal"onclick="getGrad('/updateGrad','<%= JSON.stringify(donne) %>')"
                     >
                    <i class="fa fa-plus"></i>
                </button>
                <!--button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#ModalChangeGraduation">
                    <i class="fa fa-edit"></i></button-->
            </div>
        </td>
    </tr>
    <% }); %>